html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.img-container {
    height: 250px;
    position: relative;
}

.card .img-blur {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(5px);
    background-position: center;
    z-index: 2;
}

.card img {
    position: relative;
    z-index: 3;
    object-fit: contain;
    height: 100%;
}

.card-body {
    font-size: 10px;
    height: 200px;
}


.card {
    overflow: hidden;
    margin: 3px;
}



.foot {
    margin: 0px;
    padding: 0px;
    height: 300px;
}


.owl-stage {
    margin: 20px;
}
